* {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #ebebeb;
}
header {
    font-weight: 700;
    font-size: 3em;
    width: 100vw;
    height: 14vh;
    line-height: 14vh;
    text-align: center;
    background: #3232a2;
}
header span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #efefef;
}
main {
    margin-top: 1vh;
    height: 75vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.legend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 10vw;
    height: 250vh;
}
.legend p {
    color: #3232a2;
    height: 10vh;
    margin-top: 1vw;
}
.tasks {
    height: 250vh;
    width: 50vw;
    position: relative;
}

hr {
    position: absolute;
    right: 0;
    left: 0;
    width: 50vw;
    height: 1px;
    border: none;
    border-top: 1px dashed black;
    color: #fff;
    background-color: #fff;
}

.addContent {
    position: sticky;
    top: 36%;
    width: 15vw;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
}
.addContent * {
    width: 15vw;
    min-width: 120px;
}

.task {
    position: absolute;
    right: 4%;
    left: 4%;
    background: #3232a2;
    color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 0 1rem;
}
.task span
{
    text-align: center;
}

footer {
    display: flex;
    gap: 21px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100vw;
    height: 10vh;
    background-color: #B0B0B0;;
}
#formContainer
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addTaskForm {
    min-width: 265px;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    color: #efefef;
    background: #3232a2;
    border-radius: 2rem;
    display: none;
    justify-content: space-evenly;
    z-index: 2;
}
#addTaskForm label {
    padding: .5rem 0;
}

#addCategory {
    min-width: 265px;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    color: #efefef;
    background: #3232a2;
    border-radius: 2rem;
    display: none;
    justify-content: space-evenly;
    z-index: 2;
}
#addCategory label {
    padding: .5rem 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buttonContainer button {
    margin: 1rem .5rem 0rem;
}

main button {
  background-image: linear-gradient(122deg, #3232a2, #5b1ac4);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #efefef;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  width: 9vw;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

main button:hover {
  /* box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px; */
  box-shadow: #3232a2a1 0 1px 30px;
  transition-duration: .1s;
}

#formContainer button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

footer button {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: xx-large;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    background-color: #ffffff;
    width: 50px;
    height: 50px;

    transition: background-color 0.3s;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

footer button img
{
    width: 40px;
    height: 40px;
}

